.pizza {
    background-image: url("./images/pizza.png");
    background-size: 256px 256px;
}

.background {
    background-image: url("./images/brick_wall2.png");
    background-size: 256px 256px;
}

.centerX {
    position: absolute;
    left: 50%;
    translate: -50%;
}

.centerY {
    position: absolute;
    top: 50%;
    translate: 0px -50%;
}

.centerXY {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
