

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;
    gap: 40px;

    position: fixed;
    top: 1%;
    padding: 10px;

    height: 5%;
    left: 50%;
    transform: translateX(-50%);

    transition: top 700ms ease;
}

nav > div {
    position: relative;
}


nav > .asleep {
    transition: top 0.6s ease; 
    top: -20%;
}

nav > .awake {
    transition: top 2s cubic-bezier(0.7, 0, 0.84, 0);    
    top: 100vh;
}

nav.enabled > .asleep:hover {
    top: -10%;
}

/* Fella Body */

nav > div > .body {
    background-image: url("../images/fella.png");
    background-size: cover;
    
    aspect-ratio: 104 / 109;
    width: calc(104px * 2);
}

nav > div > .back {
    background-image: url("../images/fella_back.png");
    background-size: contain;
    
    width: 208px;
    height: 120vh;

    position: absolute;
    top: -120vh;
}

/* Text */

nav > div > .text {
    background-size: cover;

    aspect-ratio: 104 / 43;
    width: 100%;
    position: relative;
    top: -60%;
}

nav > #button_home > .text {
    background-image: url("../images/nav_home.png");
}

nav > #button_about > .text {
    background-image: url("../images/nav_about.png");
}

nav > #button_projects > .text {
    background-image: url("../images/nav_projects.png");
}

nav > #button_contact > .text {
    background-image: url("../images/nav_contact.png");
}

/* Fella Face */

nav > div > .face {
    background-image: url("../images/fella_sleep.png");
    background-size: cover;

    width: 84px;
    height: 28px;

    position: absolute;
    left: 56px;
    top: 132px;
}

nav.enabled > .asleep:hover > .face {
    background-image: url("../images/fella_surprise.png");
}

nav > .awake > .face {
    background-image: url("../images/fella_awake.png");
}