img {
    width: 100%;
}

.container {
    width: 50%;
    margin: 10px auto;
}

.container > p {
    font-size: large;
    align-content: space-between;
    align-items: center;
}

/* Mobile view */

@media (max-width: 1000px) {
    img {
        width: 100%;
    }

    .sub_img {
        display: none;
    }
}