:root {
    --display: none;
    --display_grid: none;
    --display_error: block;
}

h3 {
    display: var(--display);
}

#error_no_js {
    display: var(--display_error);
    text-align: center;
    background-color: red;
}

#error_no_js>h1 {
    line-height: 3em;
    color: black;
}

.mods_container {
    display: var(--display_grid) !important;
    padding: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 16%;
    
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: auto;
}

/* Mobile*/

@media (max-width: 1000px) {

    h3 {
        font-size: 30pt;
    }

    .mods_container {
        grid-auto-columns: 45%;
    }
}