@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #6B6B6B;
}

body {    
    background-color: #1C1C1C;
    padding-top: 50px;
    overflow-x: hidden;
}    

a {
    text-decoration: none;
}

.rel_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Header */

nav {
    z-index: 1;
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    position: fixed;
    top: 0;
    left: 0;


    width: 100vw;
}

#header_center {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    width: 100%;
}

#header_center > a {
    text-decoration: none;
    position: relative;
    line-height: 1.5em;

    text-decoration: none;

    transition: background-color 200ms ease;
}

#header_center > a:hover {
    background-color: #212121;
}


/* Containers */

.container {
    min-height: 80px;
    background-color: #212121;
    padding: 0.25rem 1rem;
    margin: 10px 0;
}

/* Mods */

.mod_card {
    background-color: white;
    position: relative;
    margin: 10px;
    display: flex;
    aspect-ratio: 4 / 3;
    
    color:transparent;
    transition: all ease 200ms;
}

.mod_card:hover {
    color: black;
}

.mod_card > h1, .mod_card > p {
    white-space: pre-wrap;
    color: inherit;
    position: absolute;

    width: 100%;
    text-align: center;
    bottom: 35%;
    
    transition: all ease-out 300ms;
    margin: 0.5rem 0;    

    transform: translateY(50%);
}

.mod_card > h1 {
    font-size: 30pt;
    font-weight: bolder;
}

.mod_card > .p {
    font-size: 20pt;
    bottom: 20%;
}

.mod_card:hover > h1 {
    bottom: 50%;
}

.mod_card:hover > .p {
    bottom: 30%;
}

.mod_card > img {
    transition: all ease-out 100ms;
    inline-size: 100%;
    object-fit: cover;
}

.mod_card:hover > img {
    filter: opacity(10%);
}


/* Mobile view */

@media (max-width: 1000px) {
    body {
        padding-top: 0;
    }
    
    nav {
        top: auto;
        bottom: 0;
    }

    #header_center > a {
        line-height: 2rem;
        font-size: 40pt;
    }

    .container > p {
        font-size: 20pt;
    }
}