@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    color: #CCCCCC;
}

body {    
    background-color: #1C1C1C;
    overflow-x: hidden;
    margin: 0;
}

nav {
    z-index: 1;
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    position: sticky;
    top: 0;
    left: 0;

    width: 100vw;
}

a:not(.keep_decoration) {
    text-decoration: none;
}

h3 {
    margin: 1rem 1rem 1rem 1rem;
}

.rel_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#page_title {
    text-align: center;
}

#page_title > h1 {
    font-size: 5em;
    margin: 0;
}

#header_center {
    display: grid;
    position: relative;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    width: 100%;
}

#header_center > a {
    text-decoration: none;
    position: relative;
    line-height: 1.5em;

    text-decoration: none;

    transition: background-color 200ms ease;
}

#header_center > a:hover {
    background-color: #212121;
}


/* Containers */

.container {
    position: relative;
    overflow: auto;
    min-height: 80px;
    background-color: #303030;
    padding: 0.25rem 1rem;
    margin: 15px 10px;
}

/* Mods */

.mod_card {
    background-color: white;
    position: relative;
    margin: 10px;
    display: flex;
    aspect-ratio: 4 / 3;
    
    color:transparent;

}

.mod_card:hover {
    color: white;
}

.mod_card > h1, .mod_card > p {
    white-space: pre-wrap;
    color: inherit;
    position: absolute;

    width: 100%;
    text-align: center;
    bottom: 35%;
    
    transition: bottom ease-out 200ms, color ease-out 200ms;
    margin: 0.5rem 0;    

    transform: translateY(50%);
}

.mod_card > h1 {
    font-size: 2.5vw;
    font-weight: bolder;
}

.mod_card > p {
    font-size: 1.5vw;
    bottom: 20%;
}

.mod_card:hover > h1 {
    bottom: 50%;
}

.mod_card:hover > p {
    bottom: 30%;
}

.mod_card > img {
    transition: filter ease 200ms;
    inline-size: 100%;
    object-fit: cover;
}

.mod_card:hover > img {
    filter: brightness(40%);
}


/* Mobile view */

@media (max-width: 1000px) {
    body {
        padding-top: 0;
    }

    #header_center > a {
        line-height: 2rem;
        font-size: 40pt;
    }

    .container > p {
        font-size: 20pt;
    }

    .mod_card > h1 {
        font-size: 6.5vw;
        font-weight: bolder;
    }
    
    .mod_card > p {
        font-size: 3.5vw;
        bottom: 20%;
    }
    
}